

<header>
<h1>{{Pagetitle}}</h1> {{!--The pagetitle passed in the obj --}}

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>

{{!-- This is a partial. Called so because its a partial element of a bigger webpage
Each view(ie the dynamic webpage- index.hbs,about.hbs,help.hbs) will have this partial in it
thus it is being reused. Also if I have to make any change I just need to change it here and it will reflect wherevr it is used--}}

